@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');

body{
    text-align: center;
    margin: 0;
    font-family: 'Red Hat Display';
}

.main{
    padding: 2rem;
}

.placeholder{
    text-align: center;
}

.mainheader{
    background: rgb(249,65,68);
    background: linear-gradient(90deg, rgba(249,65,68,1) 0%, rgba(243,114,44,1) 10%, rgba(249,132,74,1) 20%, rgba(248,150,30,1) 30%, rgba(249,199,79,1) 40%, rgba(144,190,109,1) 50%, rgba(67,170,139,1) 60%, rgba(77,144,142,1) 70%, rgba(77,144,142,1) 80%, rgba(87,117,144,1) 90%, rgba(39,125,161,1) 100%); 
    display: flex;
    
}

.tituloheader{
    padding-left: 3rem;
    color: whitesmoke;
    font-family: 'Caveat';
}

#result{
    font-size: larger;
}

#btn{
    display: inline-block;
  padding: 8px 16px;
  font-size: 15px;
  background-color: #a200ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}